# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Simulation Library
/validation/compile_simlib/
/ips/Xi_Phy/IP
/ips/Xi_BRAM/IP
*.jou
*.log
/validation/tb_ddr4_mem_ch_top/xi_phy
/validation/tb_ddr4_mem_ch_top/work
/validation/tb_ddr4_mem_ch_top/blk_mem_gen
validation/tb_ddr4_mem_ch_top/start_time.txt
*.wlf
validation/tb_ddr4_mem_ch_top/transcript
/ips/Xi_Phy/.cxl.ip
ips/Xi_Phy/.cxl.questasim.version
ips/Xi_Phy/compile_simlib.log.bak
*.bak
*.ini
/runs/FPGA/SYNTH
/runs/FPGA/IMPL
/runs/FPGA/BIT
/ips/Xi_VIP/IP
/validation/tb_ddr4_mem_ch_top/xi_vip
